@CHARSET "ISO-8859-1";


body{
	background-image: url("http://www.netanimations.net/sun-clouds3.gif");
	background-repeat: no-repeat;
	background-size: cover;
}




#title{
	position:relative;
}
h1{
	font-size: 8em;
	color: White;
	-webkit-text-stroke: 1px Black;
	
}

#zipcodeEnter{
	position:absolute;
	top:5em;
	left:85em;
}

#zipTitle{
	font-size: 2.2em;
	color: White;
	-webkit-text-stroke: 1px Black;
}

#zipcode{
	background-color: grey;
	height: 3em;
}

#getWeth{
	width: 10em;
	height:3em;
	font-weight: bold;
}

#details{
	position: relative;
}

#location{
	position: absolute;
	top: 0;
	width: 25em;
}

#locationTitle{
	font-size: 2em;
	color: orange;
	-webkit-text-stroke: 1px Black;
}

#locationD{
	font-size: 2em;
	color: White;
	-webkit-text-stroke: .8px Black;
}

#weather{
	position: absolute;
	left: 20em;
	width: 35em;
	top: -1;
}

#weather h4{
	
	
	left: 10em;
}

#picture{
	position: absolute;
	left:7em;
	top:1em;
}

#weatherSimp{
	position: absolute;
	width:20em;
	
}

#weatherSimpTitle{
	font-size: 2.2em;
	color: orange;
	-webkit-text-stroke: 1px Black;
	left: 4em;
}

#weatherSimpD{
	font-size: 2em;
	color: White;
	-webkit-text-stroke: .8px Black;
}

#weatherSimp2{
	position: absolute;
	left:10em;
	top: 4.3em;
	width:15em;
	font-size: 2em;
	color: White;
	-webkit-text-stroke: .8px Black;
}

#weather a{
	position: absolute;
	left: 10em;
	top: 2.2em;
	font-size: 1.5em
}



.hidden{
	display:none;
}